*.py[oc]
build/
dist/
wheels/
*.egg-info
.DS_Store

# Sessions and downloads
sessions/
downloads/
config.json
# IDE
.idea/
.vscode/

# Frontend
web/node_modules/
web/dist/

# fnOS packages
*.fpk
/fnnas.tg-music/app/server/tg-music-server
